body {
  background-color: #000502;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23000502' cx='50' cy='0' r='50'/%3E%3Cg fill='%23000703' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000a05' cx='50' cy='100' r='50'/%3E%3Cg fill='%23000c07' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000e0a' cx='50' cy='200' r='50'/%3E%3Cg fill='%2300100e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23001211' cx='50' cy='300' r='50'/%3E%3Cg fill='%23001315' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23001518' cx='50' cy='400' r='50'/%3E%3Cg fill='%2300161b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300171e' cx='50' cy='500' r='50'/%3E%3Cg fill='%23001722' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23001825' cx='50' cy='600' r='50'/%3E%3Cg fill='%23001929' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300192d' cx='50' cy='700' r='50'/%3E%3Cg fill='%23001930' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23001934' cx='50' cy='800' r='50'/%3E%3Cg fill='%23001937' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23001939' cx='50' cy='900' r='50'/%3E%3Cg fill='%2300193b' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300183D' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  min-height: 100vh;
}

.input-box {
  color: black;
  margin-top: 1.5rem;
  background: linear-gradient(
    150deg,
    rgba(255, 202, 0, 1),
    rgba(255, 208, 0, 1),
    rgba(228, 186, 0, 1)
  );
  border: none;
  outline: 2px groove;
  outline-color: gold;
  outline-offset: 5px;
  transition: all 0.4s ease-in-out;
}

.input-box:focus {
  outline: 1px solid;
  outline-color: rgb(255, 200, 0);
  outline-offset: 2px;
  transition: all 0.2s ease-in-out;
}

.input-box::placeholder {
  color: rgb(173, 130, 21);
  opacity: 1; /* Firefox */
}
