.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  a {
    align-self: center;
  }

  .smallIcon {
    height: 2.25rem;
    width: auto;
    opacity: 10%;
    &:hover {
      opacity: 100%;
    }
  }

  .largeIcon {
    height: 8rem /* 128px */;
  }

  .smallIcon,
  .largeIcon {
    cursor: pointer;
  }
}
