.input-box {
  color: black;
  margin-top: 1.5rem;
  background: linear-gradient(
    150deg,
    rgba(255, 202, 0, 1),
    rgba(255, 208, 0, 1),
    rgba(228, 186, 0, 1)
  );
  border: none;
  outline: {
    style: groove;
    width: 2px;
    color: gold;
    offset: 5px;
  }
  transition: all 0.4s ease-in-out;
}

.input-box:focus {
  outline: {
    style: solid;
    width: 1px;
    color: rgb(255, 200, 0);
    offset: 2px;
  }
  transition: all 0.2s ease-in-out;
}

.input-box::placeholder {
  color: rgb(173, 130, 21);
  opacity: 1; /* Firefox */
}
