@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");

.limenine {
  font-family: "Limelight", cursive;
}
.poiret-one {
  font-family: "Poiret One", cursive;
}

.text-gold {
  color: gold;
}

.art-deco {
  width: fit-content;
  border: 20px solid transparent; /* invisible space */
  outline: 2px groove gold;
  outline-offset: -10px; /* first box */
  background: linear-gradient(gold 0 0) top, linear-gradient(gold 0 0) left,
    linear-gradient(gold 0 0) bottom, linear-gradient(gold 0 0) right;
  background-size: 200% 2px, 1px 200%; /* second box */
  background-origin: padding-box;
  background-repeat: no-repeat;
}
