@import "mixins";

.title {
  font-family: "Poiret One", cursive;
  font-weight: 400;
  font-size: 3rem /* 48px */;
  color: var(--gold);
  margin-top: 1.5rem;
  text-align: center;

  line-height: 1;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.container{
    font-family: "Poiret One", cursive;
    margin-left: auto;
    margin-right: auto;
width: 100%;
    max-width: 20rem/* 320px */;
}

.artDeco {
  margin-bottom: 1rem;
  border-radius: 0.5rem /* 8px */;
  background-color: black;
  padding: 1rem 3rem 2rem 3rem;
  width: fit-content;
  border: 20px solid transparent; /* invisible space */
  outline: 2px groove gold;
  outline-offset: -10px; /* first box */
  background: linear-gradient(gold 0 0) top, linear-gradient(gold 0 0) left,
    linear-gradient(gold 0 0) bottom, linear-gradient(gold 0 0) right;
  background-size: 200% 2px, 1px 200%; /* second box */
  background-origin: padding-box;
  background-repeat: no-repeat;

  label {
    display: block;
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
    color: white;
  }
}

.input {
  width: 100%;
  appearance: none;
  border-width: 1px;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: #000;
  margin-top: 1.5rem;
  background: linear-gradient(150deg, #ffca00, #ffd000, #e4ba00);
  border: none;
  outline: 2px groove;
  outline-color: gold;
  outline-offset: 5px;
  transition: all 0.4s ease-in-out;
}
