@mixin goldenBackground {
  background-image: linear-gradient(
    150deg,
    rgb(153, 121, 0),
    rgb(153, 125, 0),
    rgb(182, 149, 0)
  );
}

@mixin art-deco {
  background: linear-gradient(gold 0 0) top, linear-gradient(gold 0 0) 0,
    linear-gradient(gold 0 0) bottom, linear-gradient(gold 0 0) 100%;
  background-size: 200% 2px, 1px 200%;
  background-image: linear-gradient(rgb(153, 129, 0) 0px, rgb(153, 129, 0) 0px),
    linear-gradient(rgb(153, 129, 0) 0px, rgb(153, 129, 0) 0px),
    linear-gradient(rgb(153, 129, 0) 0px, rgb(153, 129, 0) 0px),
    linear-gradient(rgb(153, 129, 0) 0px, rgb(153, 129, 0) 0px);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 2rem solid transparent;
  outline: 2px groove gold;
  outline-offset: -1rem;

  background-size: 200% 2px, 1px 200%;
  background-origin: padding-box;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.title {
  font: {
    family: var(--poiret);
    weight: 400;
    size: 48px;
  }
  color: gold;
  margin-top: 1.5rem;
  text-align: center;
  line-height: 1;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.converted {
  @include art-deco;
  padding: 3rem;
  margin: 1.5rem auto;
  padding: 2rem;
  font-family: var(--limelight);
  font-size: 60px;
  line-height: 1;
  color: white;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  // @include artDeco;
  // @include limenien;
}

.container {
  @include art-deco;
  max-width: 20rem;
  font-family: var(--poiret);
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  padding: 2rem 3rem 3rem 3rem;
  form {
    label {
      display: block;
      font-size: 2rem;
      line-height: 1rem;
      color: white;
    }

    input {
      @include goldenBackground;
      font: {
        family: var(--poiret);
        size: 16px;
        weight: 400;
      }
      color: white;
      width: 100%;
      appearance: none;
      border-width: 1px;
      padding: 0.75rem 0 0.75rem 0.75rem;
      line-height: 1.25;
      margin-top: 1.5rem;
      border: none;
      outline: {
        width: 2px;
        color: rgb(179, 151, 0);
        offset: 5px;
        style: solid;
      }
      transition: all 0.4s ease-in-out;
      &:focus {
        outline: {
          color: rgb(179, 140, 0);
          offset: 2px;
        }
        transition: all 0.2s ease-in-out;
      }
      &::placeholder {
        color: gold;
      }
    }
  }

  .processing {
    font: {
      family: "Limelight", cursive;
      size: 1.5rem;
    }
    color: white;
    margin-top: 1.75rem;
  }
}
